blog-only.input[type=text], select, textarea {
    height: 69px;
    margin-left: 240px;
    font-weight: 600;
    font-size: x-large;
    width: 888px;
    padding: 12px;
    border: 5px solid #ccc;
    border-radius: 4px;
  }